attrs==21.4.0
black==22.1.0
certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.12
click==8.0.4
distlib==0.3.4
filelock==3.6.0
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
identify==2.4.12
idna==3.3
importlib-metadata==4.11.3
iniconfig==1.1.1
install==1.3.5
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.1
mypy-extensions==0.4.3
nodeenv==1.6.0
packaging==21.3
pathspec==0.9.0
platformdirs==2.5.1
pluggy==1.0.0
poloniex==0.0.17
pre-commit==2.17.0
py==1.11.0
pydantic==1.9.0
PyMySQL==1.0.2
pyparsing==3.0.7
pytest==7.1.1
PyYAML==6.0
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.32
toml==0.10.2
tomli==2.0.1
typing_extensions==4.1.1
urllib3==1.26.9
virtualenv==20.13.4
Werkzeug==2.0.3
zipp==3.7.0
